<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shakestudios.traintimer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Metro"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:windowSoftInputMode="adjustPan">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".navigationAcivity"
            android:label="My Metro"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name=".Activities.Station_Detail"
            android:parentActivityName="navigationAcivity" >
            ></activity>

        <activity android:name=".ListAdapter.ExpList3"
            android:parentActivityName="navigationAcivity" >
            ></activity>
    </application>

</manifest>